@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }
  html,
  body {
    overflow-x: hidden;
    font-family: 'IranYekan', sans-serif;
    background-color: #F7F1E3;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 4px;
}